@model IEnumerable<ProjectsViewModel>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Workers Required</th>
            <th style="text-align:center">Shifts</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr class="@Html.Raw(project.IsCanceled ? "hidden" : "")">
                <td>@project.Name</td>

                <td>@project.Address</td>

                <td id="nofw">@project.NumberOfWorkers</td>

                <td>@await Component.InvokeAsync("ShiftsDateList", new { projectId = project.Id })</td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a id="btn-cancel-project" data-project-id="@project.Id" class="js-cancel-project btn btn-sm btn-danger">Cancel</a>
                    </div>
                </td>
            </tr>

    }
    </tbody>
</table>
