@model IEnumerable<ProjectsViewModel>

<table class="table table-striped table-responsive">
    <thead>
        <tr class="ctrtxt">
            <th>Name</th>
            <th>Address</th>
            <th class="ctrtxt">Workers Required</th>
            <th class="ctrtxt">Shifts</th>
            <th class="ctrtxt">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr class="@Html.Raw(project.IsCanceled ? "hidden" : "")">
                <td>@project.Name</td>

                <td>@project.Address</td>

                <td class="ctrtxt">@project.NumberOfWorkers</td>

                <td>
                    <div>
                        @await Component.InvokeAsync("ShiftsDateList", new { projectId = project.Id })
                    </div>                </td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("admins") || User.IsInRole("operators")))
                {
                    <td class="ctrtxt">
                        <div>
                            <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-sm btn-warning">Edit</a>
                            <a id="btn-cancel-project" data-project-id="@project.Id" class="js-cancel-project btn btn-sm btn-danger">Cancel</a>
                        </div>
                    </td>
                }
                else
                if (User.Identity.IsAuthenticated && User.IsInRole("workers"))
                {
                    <td class="ctrtxt">
                        <div>
                            <a asp-action="SignUpForProject" asp-controller="Projects"
                               asp-route-id="@project.Id" class="btn btn-sm btn-success">
                                Sign Up
                                <i class="fa fa-calendar-check-o"></i>
                            </a>
                        </div>
                    </td>
                }
            </tr>

        }
    </tbody>
</table>
