@model IEnumerable<WorkersViewModel>
<table class="table table-striped table-responsive">

    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Salary</th>
            <th style="text-align:center">Shifts Attending</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WorkersViewModel worker in Model)
        {
            <tr>
                <td>@worker.Name</td>

                <td>@worker.Specialty</td>

                <td>@worker.Salary</td>

                <td>@await Component.InvokeAsync("ShiftsDateList", new { workerId = worker.Id })</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@worker.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@worker.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>


        }
    </tbody>
</table>
