@model IEnumerable<ShiftsViewModel>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Workers</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShiftsViewModel shift in Model)
        {
        <tr>
            <td>@shift.Id</td>
            <td style="text-align: center">@String.Format("{0:dd/MM/yyyy}", shift.Date)</td>
            <td>           
                <a asp-action="Workers" asp-controller="Shifts" asp-route-id="@shift.Id" class="btn btn-sm btn-info">@shift.Workers.Count()</a>
            <td>
                <a asp-action="Dismiss" asp-controller="Shifts" asp-route-id="@shift.Id" class="btn btn-sm btn-danger">Dismiss</a>
            </td>
        </tr>
        }
    </tbody>
</table>




