@model IEnumerable<ShiftsViewModel>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th class="ctrtxt">Date</th>
            <th class="ctrtxt">Workers</th>
            <th class="ctrtxt">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShiftsViewModel shift in Model)
        {
            <tr class="@Html.Raw(shift.IsCanceled ? "hidden" : "")">
                <td>@shift.Id</td>
                <td class="ctrtxt">@String.Format("{0:dd/MM/yyyy}", shift.Date)</td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("admins") || User.IsInRole("operators")))
                {
                    <td class="ctrtxt">
                        <a asp-action="Workers" asp-controller="Shifts"
                           asp-route-id="@shift.Id" class="js-wrk-btn btn btn-sm btn-info">
                            @shift.Workers.Count()
                        </a>
                    </td>
                    <td class="ctrtxt">
                        <button id="btn-cancel-shift"
                                data-shift-id="@shift.Id"
                                data-project-id="@shift.ProjectId"
                                class="js-cancel-shift btn btn-sm btn-danger">
                            Cancel
                        </button>
                    </td>
                }
                else
                if (User.Identity.IsAuthenticated && User.IsInRole("workers"))
                {
                    <td class="ctrtxt">
                        <a asp-action="SignUpToShift" asp-controller="Shifts"
                           asp-route-id="@shift.Id" class="js-wrk-btn btn btn-sm btn-success"></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>




